# Yfinance

In [1]:
import yfinance as yf
import pandas as pd

In [4]:
# user inputs
ticker = "^AXJO"
PERIOD = "20y"

In [5]:
stock = yf.Ticker(ticker)
print(stock.info)
print(stock.info.get("currency"))

data = stock.history(period=PERIOD, actions=True)
data['Dividends'] = data['Dividends'].fillna(0)
print(data.shape)

{'maxAge': 86400, 'priceHint': 2, 'previousClose': 8540.0, 'open': 8540.0, 'dayLow': 8540.0, 'dayHigh': 8615.2, 'regularMarketPreviousClose': 8540.0, 'regularMarketOpen': 8540.0, 'regularMarketDayLow': 8540.0, 'regularMarketDayHigh': 8615.2, 'averageVolume': 523286, 'averageVolume10days': 622940, 'averageDailyVolume10Day': 622940, 'fiftyTwoWeekLow': 7492.6, 'fiftyTwoWeekHigh': 8615.2, 'fiftyDayAverage': 8354.576, 'twoHundredDayAverage': 8095.693, 'currency': 'AUD', '52WeekChange': 11.414075, 'exchange': 'ASX', 'quoteType': 'INDEX', 'symbol': '^AXJO', 'underlyingSymbol': '^AXJO', 'shortName': 'S&P/ASX 200 [XJO]', 'longName': 'S&P/ASX 200', 'firstTradeDateEpochUtc': 722473200, 'timeZoneFullName': 'Australia/Sydney', 'timeZoneShortName': 'AEDT', 'uuid': 'e3816ce6-9eb7-35d1-89e5-78a3881994df', 'messageBoardId': 'finmb_INDEXAXJO', 'gmtOffSetMilliseconds': 39600000, 'trailingPegRatio': None}
AUD
(5051, 7)

In [9]:
data.head(-20)

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2005-02-13 13:00:00,4180.200195,4190.500000,4142.500000,4150.200195,0,0.0,0.0
2005-02-14 13:00:00,4150.299805,4159.299805,4140.700195,4144.799805,0,0.0,0.0
2005-02-15 13:00:00,4156.600098,4169.100098,4146.299805,4151.700195,0,0.0,0.0
2005-02-16 13:00:00,4157.500000,4172.100098,4150.299805,4166.899902,0,0.0,0.0
2005-02-17 13:00:00,4164.700195,4169.500000,4152.899902,4163.600098,0,0.0,0.0
...,...,...,...,...,...,...,...
2025-01-09 13:00:00,8329.200195,8356.200195,8262.200195,8294.099609,525900,0.0,0.0
2025-01-12 13:00:00,8294.099609,8294.099609,8160.700195,8191.899902,523200,0.0,0.0
2025-01-13 13:00:00,8191.899902,8253.799805,8191.899902,8231.000000,525500,0.0,0.0
2025-01-14 13:00:00,8231.000000,8263.500000,8212.900391,8213.299805,502700,0.0,0.0
2025-01-15 13:00:00,8213.299805,8345.599609,8213.299805,8327.000000,527200,0.0,0.0

In [8]:
# Ensure the index is datetime and tz-naive
if not pd.api.types.is_datetime64_any_dtype(data.index):
    data.index = pd.to_datetime(data.index)
if data.index.tz is not None:
    data.index = data.index.tz_convert('UTC').tz_localize(None)

In [10]:
data.to_csv('../data/asx200_axjo_index.csv')

In [5]:
dividend_events = data[data['Dividends'] > 0]
dividend_events

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2007-06-21 00:00:00+12:00,2.287599,2.300784,2.254636,2.287599,1892179,0.070000,0.0
2007-12-06 00:00:00+13:00,2.145246,2.172061,2.105022,2.131838,851100,0.054000,0.0
2008-06-19 00:00:00+12:00,1.555095,1.555095,1.492892,1.520538,1086066,0.070000,0.0
2008-12-04 00:00:00+13:00,2.145267,2.166368,2.110099,2.110099,488653,0.054000,0.0
2009-06-22 00:00:00+12:00,2.040112,2.090575,2.032903,2.076157,725788,0.070000,0.0
2009-12-10 00:00:00+13:00,2.417438,2.468717,2.417438,2.468717,229711,0.054000,0.0
2010-06-28 00:00:00+12:00,2.337692,2.337692,2.300229,2.315214,481070,0.070000,0.0
2010-12-01 00:00:00+13:00,2.202375,2.247475,2.194858,2.247475,1674891,0.009529,0.0
2011-06-22 00:00:00+12:00,2.263235,2.263235,2.201650,2.201650,391689,0.070000,0.0
2011-11-30 00:00:00+13:00,1.808470,1.854841,1.808470,1.854841,183753,0.009529,0.0
2012-06-20 00:00:00+12:00,1.593719,1.593719,1.523751,1.531525,2987450,0.012353,0.0
2012-11-29 00:00:00+13:00,2.041548,2.049554,2.009524,2.009524,290754,0.075000,0.0
2013-06-17 00:00:00+12:00,2.706912,2.706912,2.657844,2.706912,3655294,0.070000,0.0
2013-06-19 00:00:00+12:00,2.692336,2.741586,2.692336,2.741586,1375265,0.012353,0.0
2013-12-04 00:00:00+13:00,3.245624,3.245624,3.204013,3.220657,431328,0.054000,0.0
2014-06-18 00:00:00+12:00,3.994861,4.028645,3.977970,4.028645,966766,0.070000,0.0
2014-12-03 00:00:00+13:00,4.820929,4.991581,4.820929,4.957451,2155777,0.058000,0.0
2015-06-17 00:00:00+12:00,6.109839,6.144358,6.040802,6.040802,985009,0.080000,0.0
2015-12-09 00:00:00+13:00,7.237653,7.342042,7.237653,7.289848,1374049,0.067000,0.0
2016-06-16 00:00:00+12:00,9.090733,9.143432,8.967766,9.125866,1310063,0.100000,0.0
2016-12-06 00:00:00+13:00,7.442384,7.442384,7.256102,7.273843,1186209,0.082500,0.0
2017-06-15 00:00:00+12:00,9.910636,9.946479,9.829989,9.937518,590498,0.112500,0.0
2017-12-05 00:00:00+13:00,11.664876,11.863349,11.664876,11.818242,1225159,0.087500,0.0
2018-06-21 00:00:00+12:00,13.636959,14.100925,13.245773,13.828004,614239,0.125000,0.0
2018-12-07 00:00:00+13:00,11.342126,11.387972,11.222928,11.351295,1353056,0.097500,0.0
2019-06-13 00:00:00+12:00,14.190138,14.190138,13.986628,14.060632,745123,0.135000,0.0
2019-12-06 00:00:00+13:00,19.897284,19.897284,19.674032,19.739147,865129,0.120000,0.0
2020-07-06 00:00:00+12:00,32.218539,33.031476,32.050344,32.844597,273458,0.155000,0.0
2020-12-03 00:00:00+13:00,32.385492,32.807913,31.493717,31.578201,602850,0.160000,0.0
2021-06-24 00:00:00+12:00,30.246007,30.529562,29.990806,30.104229,783411,0.220000,0.0
2021-12-02 00:00:00+13:00,30.697396,31.210441,30.687893,30.953920,344372,0.170000,0.0
2022-06-22 00:00:00+12:00,18.972870,18.972870,18.423908,18.491325,1746413,0.264706,0.0
2022-12-08 00:00:00+13:00,22.367140,22.774697,22.367140,22.454473,642290,0.175000,0.0
2023-06-26 00:00:00+12:00,22.906889,23.259605,22.808914,23.004866,421681,0.230000,0.0
2023-12-05 00:00:00+13:00,22.709719,23.114545,22.709719,22.907196,276141,0.180000,0.0
2024-06-26 00:00:00+12:00,29.714131,30.122128,29.455400,30.122128,547416,0.235000,0.0
2024-12-05 00:00:00+13:00,37.450001,37.639999,36.860001,37.049999,551678,0.185000,0.0

# Alpha Vantage